@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    background: white;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.err {
    color: red;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.addButton:hover {
    border-color: #ffffff;
    background-color: #57d05b;
}

.addButton:active{
    background-color:white;
}
@media all and (max-width:30em){
     .addButton{
        display:block;
        margin:0.2em auto;
    }
}
.backButton {
    background-color: #c1c4cb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.backButton:hover {
    border-color: #ffffff;
    background-color: #a2a5ac;
}

.backButton:active{
    background-color:white;
}
@media all and (max-width:30em){
     .backButton{
        display:block;
        margin:0.2em auto;
    }
}

.saveButton {
    width: 20%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.saveButton:hover {
    border-color: #ffffff;
    background-color: #57d05b;
}

.saveButton:active{
    background-color:white;
}
@media all and (max-width:30em){
     .saveButton{
        display:block;
        margin:0.2em auto;
    }
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#header {
    text-align: center;
    width: 100%;
    margin-top: 0;
}